.customFont {
}

.darkbg {
  background-color: #613e28;
  box-shadow: 0px 5px 30px 20px rgba(97, 62, 40, 0.98);
  position: sticky;
  top: 0;
  z-index: 99;
}

.lightbg {
  /* background-color: #eae0c8; */
  background-color: #e3d8c8;
}
.customText {
  color: #536878;
}
.brownText {
  color: #5d4037;
}
.lightText {
  color: #e3dacb;
}
