@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.customFont {
  font-family: "Lato";
}

.darkbg {
  background-color: #613e28;
}
.navbarProperties {
  box-shadow: 0px 5px 30px 20px rgba(97, 62, 40, 0.98);
  position: sticky;
  top: 0;
  z-index: 99;
}

.lightbg {
  background-color: #e3dacb;
}
.postbg {
  background-color: #f8f5f1;
}
.postBorderBottom {
  border-bottom: 5px solid #6d4c41;
}
.fullBoxBorder {
  border: 2px solid #6d4c41;
}
.postButton {
  background-color: #6d4c41;
  color: #e3dacb;
}
.postButton:hover {
  background-color: #6d4c41;
}
.postButton:active {
  background-color: #6d4c41 !important;
  outline: none;
}

.customText {
  color: #536878;
}
.darkText {
  color: #5d4037;
}
.lightText {
  color: #e3dacb;
}
.fs-7 {
  font-size: 0.875rem;
}

.sliderCard:hover {
  scale: 1.1;
  z-index: 99;
}
